* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(49, 0, 128);
    --secondary-color: rgb(157, 58, 238);
    --tertiary-color: white;
    --quaternary-color: grey;
    --quinary-color: rgb(209, 204, 218);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Quiz Style Start*/
h1 {
    margin: 5% auto 2%;
}

.start-style, .quiz-content, .style-end {
    text-align: center;
}

.style-scores div {
    margin: 0% 40%;
}

div.header {
    margin: 0%;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    margin: 5% 35% 0%;
    text-align: left;
}

.quiz-content ul {
    padding: 0px;
    margin: 0px 310px 0px 0px;
}

.quiz-content ul li {
    list-style: none;
    margin: 7px 0px;
    padding: 8px 15px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 8px;
}

.quiz-content ul li:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

#quiz-questions {
    font-weight: bolder;
    font-size: x-large;
}

#end-quiz {
    margin: 0% 35%;
    text-align: left;
}

#form {
    margin: 1% 35%;
    text-align: left;
}

.end-display h2 {
    margin: 0% auto 2%;
}

#list-players {
    padding: 0px 30px;
    background-color: var(--quinary-color);
}

#results {
    font-size: large;
    font-style: italic;
    margin: 5px 0px;
    color: var(--quaternary-color);
}

#results p {
    padding: 8px;
    border-top: solid var(--quaternary-color);
}
/*Quiz Style End*/

/* Buttons Style Start */
button {
    display: inline-block;
    border: none;
    padding: 8px 15px;
    margin: 0;
    text-decoration: none;
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#btn {
    padding: 5px 10px;
}

#high-scores {
    background: none;
    color: var(--primary-color);
}

button:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    cursor: pointer;
}

#high-scores:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
}
/*Button Style End*/

/*Top of Screen Style Start*/
.style-top {
    display: flex;
    justify-content: space-between;
    margin: 2% 10%;
}

.timer {
    display: flex;
    align-items: center;
}
/*Top of Screen Style End*/

/*Media Queries Start*/
@media screen and (max-width: 980px) {
    .quiz-content {
        margin: 5% 20% 0%;
    }
    
    .quiz-content ul {
        margin: 0px 390px 0px 0px;
    }
    #end-quiz {
        margin: 0% 30%;
    }
    
    #form {
        margin: 1% 30%;
    }
    .style-scores div {
        margin: 0% 35%;
    }
    div.header {
        margin: 0%;
    }
}

@media screen and (max-width:768px) {   
    .quiz-content ul {
        margin: 0px 270px 0px 0px;
    }
    #end-quiz {
        margin: 0% 25%;
    }
    
    #form {
        margin: 1% 25%;
    }

    .style-scores div {
        margin: 0% 30%;
    }
    div.header {
        margin: 0%;
    }
}

@media screen and (max-width: 576px) {
    .quiz-content ul {
        margin: 0px;
    }
    #btn {
        padding: 5px 20px;
        margin: 10px 0px 10px 100px;
    }

    .style-scores div {
        margin: 0% 25%;
    }
    div.header {
        margin: 0%;
    }
}
/*Media Queries End*/
